# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[oc]

# Build / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environment
.venv/

# Environment variables
.env

# Database files
*.sqlite3
*.db

# OS files
.DS_Store

# uv cache
.uv/
